
<div class="card bg-light mb-3" style="max-width: 30rem;">
    <div class="card-header">@book.Name</div>
    <div class="card-body">
        <h5 class="card-title">@book.Author</h5>
        <p class="card-text">@book.Description</p>
    </div>
</div>

@code {
    [Parameter] public Book book { get; set; }
}
