
<div class="card border-dark mb-3" style="max-width: 30rem;">
    <div class="card-header">
        @book.Name
        <button type="button" class="btn btn-outline-danger float-right mr-1">Delete</button>
        <button type="button" class="btn btn-outline-primary float-right mr-1">Edit</button>
    </div>
    <div class="card-body">
        <h5 class="card-title">@book.Author</h5>
        <p class="card-text">@book.Description</p>
    </div>
</div>

@code {
    [Parameter] public Book book { get; set; }

    
}
