@inject IJSRuntime JsRuntime
@inject IBookRepository BookRepository
@inject NavigationManager uriHelper

<div class="card border-dark mb-3" style="max-width: 30rem;">
    <div class="card-header">
        @book.Name
        <button type="button" class="btn btn-outline-danger float-right mr-1" @onclick="DeleteBook">Delete</button>
        <a class="btn btn-outline-primary float-right mr-1" href="Books/Edit/@book.IdBook">Edit</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">@book.Author</h5>
        <p class="card-text">@book.Description</p>
    </div>
</div>

@code {
    [Parameter] public Book book { get; set; }

    public async void DeleteBook()
    {


        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete book : " + book.Name + "?");
        if (confirmed)
            await BookRepository.DeleteBookAsync(book.IdBook);

        uriHelper.NavigateTo("/books/fetchbooks", true);

    }

}
