
@inject IJSRuntime js
@inject IBookRepository BookRepository

@if (books == null)
{
    <text>Loading...</text>
}
else if (books.Any() == false)
{
    <text>No Records Found.</text>
}
else
{

    <ul style="list-style-type: none; padding: 0">

            @foreach (var bo in books)
            {
                <li>
                    <Card book="bo"></Card>
                </li>
            }
    </ul>



}
@code {
    [Parameter] public List<Book> books { get; set; }
}
