@page "/books/column"

@inject IJSRuntime js
@inject IBookRepository BookRepository

@if (books == null)
{
    <text>Loading...</text>
}
else if (books.Any() == false)
{
    <text>No Records Found.</text>
}
else
{

    <table>
        <tr>
            @foreach (var bo in books)
            {
                <Card book="bo"></Card>
            }
        </tr>
     </table>


}
@code {
    [Parameter] public List<Book> books { get; set; }
}
