@page "/books/fetchbooks"
@inject IJSRuntime js
@inject IBookRepository BookRepository

<h3>Books</h3>
@if (books == null)
{
    <text>Loading...</text>
}
else if (books.Any() == false)
{
    <text>No Records Found.</text>
}
else
{



<div class="d-flex justify-content-start flex-row bd-highlight mb-3" >
    <div class="p-2 flex-fill">
        <Column books="books"></Column>
    </div>
    <div class="p-2 flex-fill">
        <Column books="books"></Column>
    </div>
    <div class="p-2 flex-fill">
        <Column books="books"></Column>
    </div>
</div>

}

@code {
    List<Book> books { get; set; }
    List<Book> books1 { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await BookRepository.GetBooksAsync();
        books = BookRepository.Books;
        books1 = BookRepository.Books;
    }
}
