@page "/books/fetchbooks"
@inject IJSRuntime js
@inject IBookRepository BookRepository

<h3>Books</h3>
@if (bookslist == null)
{
    <text>Loading...</text>
}
else if (bookslist.Any() == false)
{
    <text>No Records Found.</text>
}
else
{



<div class="d-flex justify-content-start flex-row bd-highlight mb-3" >
    <div class="p-2 flex-fill">
        <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">        
            <div class="card-body">
                <h5 class="card-title">I want to read</h5>
            </div>
        </div>
        <Column books="bookslist[1]"></Column>
    </div>

    <div class="p-2 flex-fill">
        <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">In progress</h5>
            </div>
        </div>
        <Column books="bookslist[2]"></Column>
    </div>
    <div class="p-2 flex-fill">
        <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">I read</h5>
            </div>
        </div>
        <Column books="bookslist[3]"></Column>
    </div>
</div>

}

@code {
    List<List<Book>> bookslist = new();


    protected override async Task OnInitializedAsync()
    {
        bookslist = await BookRepository.GetBooksByIdsAsync();

    }
}
